/* banner */
#banner{
    width: 80%;
    border-bottom:1px solid #b6ada4;
    padding-bottom: 80px;
    margin: 0 auto;
}
#banner img{
    margin: 0 auto;
}

/* article */
#article{
    margin-top: 80px;
}
#article .article{
    margin: 150px 0 80px 0;
}
#article .article >.title{
    font-size: 26px;
    color:#6e5c4a;
    font-family: 'A-OTF-MaruFoPro-Medium';
    text-align: center;
    margin-bottom: 20px;
}
#article .article .introduce{
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    color:#6e5c4a;
    padding: 50px 0 0;
    font-family: 'Noto Sans TC', sans-serif;
}
#article .article .introduce .title{
    font-size: 19px;
    display: block;
    margin-bottom: 20px;
    font-family: 'Noto Sans TC', sans-serif;
}
#article .article  p{
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid #6e5c4a;
    padding-bottom: 50px;
}
#article .article  p a{
    color: #4e78c5;
    font-size: 18px;
    font-family: 'Noto Sans TC', sans-serif;
}

@media screen and (max-width:768px){
    #banner{
        padding-bottom: 0;
    }
    #banner .title{
        transform: scale(40%);
    }
    #article .article >.title{
        font-size: 20px;
    }
    #article{
        padding: 0 20px;
    }
    #article .article .introduce{
        width: 100%;
    }
    #article .article  p{
        width: 100%;
    }
}

@media screen and (min-width:769px) and (max-width:1440px){
    #banner img{
        height: 400px;
    }
    #banner img.title{
        height:auto;
        transform: scale(40%);
    }
}